.flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    justify-content: center;
}

.flexbox-item {
    width: 100%;
    flex-grow: 1;
}





h1 {
    color: white;
    margin-left: 20px;
}

#plotly {
    display: flex;
}



#recharts {
    display: flex;
}